/* color code
rgb(106, 17, 203) 0%, rgb(119, 212, 255)
linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)
 #232463 
 #75CEDE
*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #FFFFFF;
    font-family: 'Tilt Neon', cursive;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
}

/* ====================== Header ====================== */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
}

.wrap{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.home-info{
    margin-top: 20%;
    font-size: 20px;
}

.hello{
    font-size: 25px;
    margin: 15px 0;
}

.hello span{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    font-weight: 800;
    color: #75CEDE;
}

.my-profession{
    font-size: 35px;
    margin: 15px 0;
}

.typing{
    color:#75CEDE;
}

.home-info{
    margin-top: 20%;
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: #b6b0b0;
}

.btn{
    font-size: 20px;
    font-weight: 500;
    padding: 12px 35px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #232463 35%, #75CEDE 100%);
    border-radius: 40px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
}

/* ====================== About ====================== */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'' ;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #75CEDE;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ====================== Services ====================== */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    transform: translateY(-10px);
}

/* ====================== Portfolio ====================== */
#protfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.6s;
}

.work:hover img{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #1d1fad );
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #1d1fad;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover .layer{
    height: 100%;
}

.work-btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #1d1fad;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    transition: background 0.5s;
}

.work-btn:hover{
    background: linear-gradient(90deg, #232463 35%, #75CEDE 100%);
    border: none;
}

/* ====================== Contact ====================== */
.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #1d1fad;
    margin-right: 15px;
    font-size: 25px;
}

.social-icon{
    margin-top: 30px;
}

.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover{
    color: #1d1fad;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    margin-top: 20px !important;
}

.contact-right{
    flex-basis: 60%;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    cursor: pointer;
    font-size: 18px;
    padding: 14px 60px;
    margin-top: 20px;
    border: none;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #ff004f;
}


/* ====================== CSS For Small screens ====================== */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(../images/phonebanner.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .home-info{
        margin-top: 45%;
        font-size: 16px;
    }

    .home-info p{
        color: #FFFFFF;
    }

    .home-info h3{
        font-size: 20px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: linear-gradient(320deg, #232463 35%, #75CEDE 100%);;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    #about{
        padding: 80px 20px;
    }

    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

}

#msg{
    color: #61b752;
    margin-top: 5px;
    display: block;
}